<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>266055561708-912n63a49rhkmpcdeuk74jt71p08p633.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266055561708-912n63a49rhkmpcdeuk74jt71p08p633</string>
	<key>API_KEY</key>
	<string>AIzaSyBTuRETV7_JCNFHU6cvN7HyM9LFFpVYHo8</string>
	<key>GCM_SENDER_ID</key>
	<string>266055561708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d.MyHobbies</string>
	<key>PROJECT_ID</key>
	<string>myhobbies-e447d</string>
	<key>STORAGE_BUCKET</key>
	<string>myhobbies-e447d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266055561708:ios:70ee81ae85997e9d</string>
	<key>DATABASE_URL</key>
	<string>https://myhobbies-e447d.firebaseio.com</string>
</dict>
</plist>